<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="Pragma" content="no-cache">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1,maximum-scale=1,user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="renderer" content="webkit">
	<link rel="shortcut icon" href="/favicon.ico" />
	<title>{$Think.Const.SITE_TITLE}</title>
	<script>
		window._BASE_ = '{$Think.Const.BASE_URL}';
		window.timer  = {startAt: +new Date()};
	</script>
	<style>
		.hd {
			padding: 2em 0;
		}
		.page_title {
			text-align: center;
			font-size: 34px !important;
			margin: 0 15%;
		}
		.page_subtitle {
			text-align: center;
			padding-top: -.1em;
		}
	</style>
</head>
<body>
<div id="container">
</div>
<script src="{$Think.Const.STATIC_URL}/js/shared.js?v=1.0.15"></script>
<script src="{$Think.Const.STATIC_URL}/js/term.js?v=1.0.15"></script>
</body>
</html>
